

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    min-height: calc(100vh - 60px);
    box-sizing: border-box;
    padding-top: 60px;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 0.5rem;
    }
  }

/*Navegación ===========================================*/
.navigation {
  background-color: #ee220c;
  padding: 1rem;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 999; 
}
  
  .navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .navigation__item {
    margin: 0 1rem;
  }
  
  .navigation__link {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  }
  
  .navigation__link:hover,
  .navigation__link--active {
    background-color: #555;
  }

  .navigation__link--active {
    font-weight: bold;
    color: #f8efe1; 
  }

/*Loader ======================================*/
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 100%;
  text-align: center;
}

.loader > div {
  width: 30px;
  height: 30px;
  background-color: #3498db;
  border-radius: 100%;
  display: inline-block;
  animation: loader-animation 1.4s infinite ease-in-out both;
}

.loader > div:nth-child(1) {
  animation-delay: -0.32s;
}

.loader > div:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes loader-animation {
  0%, 80%, 100% {
    transform: scale(0);
  } 
  40% {
    transform: scale(1);
  }
}

/* Transición ================================= */
.slide-enter {
    transform: translateX(100%);
  }
  
  .slide-enter-active {
    transform: translateX(0%);
    transition: transform 300ms ease-out;
  }
  
  .slide-exit {
    transform: translateX(0%);
  }
  
  .slide-exit-active {
    transform: translateX(-100%);
    transition: transform 300ms ease-in;
  }

/*Vistas ============================*/
.header-content {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.header-content p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.empty-message {
  font-size: 18px;
  color: #555;
  text-align: center;
  margin-top: 20px;
}

.product-card {
  width: 250px;
  min-height: calc(25vh - 60px);
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-card h3 {
  height: 50px;
}

.product-details {
  display: flex;
  flex-wrap: wrap;
}

.category-container {
  display: flex;
  justify-content:flex-start;
  width: 100%;
}

.price-rating-container {
  display: flex;
  width: 100%;
}

.price-rating-container > p {
  display: flex;
  width: 48%;
}

.stock-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-card img {
  max-width: 50%;
  height: 150px;
  border-radius: 5px;
}

.product-card button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #2980b9;
}

.product-card p.description {
  max-width: 100%;
  width: 100%;
}

.btn-load-more {
  background-color: transparent;
  border: none;
  border-radius: 5%;
  width: 8rem;
  height: 3rem;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-load-more:hover {
  background-color: rgba(78, 77, 77, 0.742);
  color: #fff;
}

/*HOME ===============================================*/
.home-container {
  display: flex;
  height: 50vh;
}

.image-column {
  flex: 1; 
  padding: 20px;
  align-content: center;
}

.text-column {
  flex: 1; 
  background-color: #ee220c;
  padding: 20px;
  align-content: center;
}

.text-column p {
  text-align: center;
  color: #fff; 
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .01em;
}

.text-column h1 {
  color: #fff;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.file-upload-label {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.selected-file {
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.upload-button {
  margin-top: 10px;
  background-color: #2ecc71;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-container {
  background-color: #ffe6e6; 
  border: 1px solid #ff4d4d; 
  padding: 16px; 
  border-radius: 4px; 
  margin-top: 20px; 
  max-height: 150px; 
  overflow-y: auto; 
}

.error-container h3 {
  margin-top: 0; 
  color: #ff4d4d; 
}

.error-item {
  color: #d8000c; 
  margin-bottom: 8px; 
  font-size: 14px; 
}

/*Footer ==========================================*/
.footer {
  background-color: #ee220c;
  color: #fff;
  padding: 2rem 1rem;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__copyright {
  text-align: center;
  margin-top: 2rem;
}

/*Tablas =======================================*/
.btn-add-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  margin-top: 2%;
}

.btn-add {
  justify-content: center;
  align-self: center;
  background: none;
  cursor: pointer;
  color: #666;
  font-weight: bold;
  font-size: large;
  transition: background-color 0.3s ease, color 0.3s ease;
  max-width: auto;
  border-radius: 5px;
  padding: 15px;
  margin-right: 10px;
}

.btn-add:hover {
  color: #fff;
  background-color: #0ac5d6;
}

.btn-add-csv {
  justify-content: center;
  align-self: center;
  background: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: large;
  transition: background-color 0.3s ease, color 0.3s ease;
  max-width: auto;
  border-radius: 5px;
  padding: 15px;
  margin-right: 10px;
  background-color: #28a745;
}

.btn-add-csv:hover {
  color: #fff;
  background-color: #218838;
}

table {
  width: 100%;
  max-width: 900px; 
  margin: 0 auto; 
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tbody tr:hover {
  transition: background-color 0.3s ease, color 0.3s ease;
}

tbody tr:hover {
  background-color: rgba(188, 188, 188, 0.564);
}

th {
  background-color: #f2f2f2;
}

.action-btn {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.action-btn.ver {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.action-btn.ver:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.action-btn.edit {
  color: #fff;
  background-color: #ffd500;
  border-color: #ffcc00;
}

.action-btn.edit:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.action-btn.delete {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.action-btn.delete:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.action-btn + .action-btn {
  margin-left: 5px;
  margin-bottom: 5px;
}

.no-data-table {
  display: flex;
  justify-content: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #ee220c;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pagination-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
  background-color: #ee220c;
}

.pagination-info {
  font-size: 1.2em;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
  gap: 20px;
}

.filter-container label {
  font-weight: bold;
}

.filter-container select,
.filter-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.filter-container select {
  min-width: 150px;
}

.filter-container input[type="number"] {
  width: 80px;
}

.filter-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-container button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  table thead {
    display: none;
  }

  table tr {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }

  table td {
    display: block;
    text-align: right;
    padding: 10px;
    position: relative;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .no-data-message {
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 16px;
    color: #666;
    padding: 20px 0;
  }
}

/*Modals ==============================================*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center; 
  align-items: center; 
  z-index: 9999;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
  max-width: 90%; 
  max-height: 90%; 
  overflow: auto; 
}

.modal-btn-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}

.modal-close-btn {
  justify-content: center;
  align-self: center;
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  font-weight: bold;
  font-size: large;
  transition: background-color 0.3s ease, color 0.3s ease;
  max-width: auto;
  border-radius: 5px;
  padding: 15px;
  margin-right: 10px;
}

.mdl-two:hover {
  color: #fff;
  background-color: #bd2130;
}

.mdl-one:hover {
  color: #fff;
  background-color: #0ac5d6;
}

/*Modal ver producto ========================================*/
.product-modal-content {
  display: flex;
  flex-direction: column;
}

.product-image {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid #ddd; 
  border-radius: 8px; 
  padding: 10px; 
  margin-bottom: 15px; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.product-image img {
  max-width: 40%;
  height: auto;
  border-radius: 4px; 
}


.product-details-card {
  padding: 20px;
}

@media (min-width: 768px) {

  .product-modal-content {
    flex-direction: row;
  }

  .product-details-card {
    margin-left: 20px;
  }
}

/*Agregar Editar Producto =========================================*/
.product-modal-content-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.product-modal-content-form label {
  width: 48%;
  display: block;
  margin-bottom: 10px;
}

.product-modal-content-form input,
.product-modal-content-form textarea,
.product-modal-content-form select {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 1%;
}

.product-modal-content-form .error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}



